<!DOCTYPE html>
{% load static %}
<html>
<head>
  <title>{% block title %}Musefy - Personalized Tour Guide for Museums, Powered by OpenAI{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.2/css/dataTables.bootstrap5.min.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.13.2/js/dataTables.bootstrap5.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
  <nav>
    <h2><img src="{% static 'logo.png' %}" alt="MusefyLogo" width="120">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
    <h5> - Personalized Tour Guide for Museums, Powered by OpenAI</h5>
  </nav>
  <section class="content">
    <header>
      {% block header %}{% endblock %}
    </header>
    {% for message in messages %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
  </section>
</body>
</html>
